C:\Users\abeli\OneDrive\Desktop\AiBootcamp\neural-network-challenge-1\neural-network-challenge-1\saved_models
C:\Users\abeli\OneDrive\Desktop\AiBootcamp\neural-network-challenge-1\neural-network-challenge-1\teststudent_loans_with_deep_learning.ipynb
